rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /pagevideo/videos/{fileName} {
      allow read: if true;
      allow write: if request.resource != null
        && request.resource.contentType.matches('video/.*')
        && request.resource.size < 500 * 1024 * 1024;
    }
  }
}